@page
@model PslibTechSaturdays.Areas.Admin.Pages.Actions.DeleteModel

@{
    ViewData["Title"] = "Odstranění akce";
}

<h1>Odstranění</h1>

<h3>Opravdu chcete tuto akci odstranit?</h3>
<div>
    <h4>Akce</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Action.Name)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Action.Name)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Action.Description)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Action.Description)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Action.Year)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Action.Year)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Action.Active)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Action.Active)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Action.Published)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Action.Published)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Action.Created)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Action.Created)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Action.CreatedBy)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Action.CreatedBy.FirstName) @Html.DisplayFor(model => model.Action.CreatedBy.LastName)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Action.Start)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Action.Start)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Action.End)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Action.End)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Action.ExclusiveEnrollment)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Action.ExclusiveEnrollment)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Action.ActionId" />
        <input type="submit" value="Odstranit" class="btn btn-danger" /> <a asp-page="./Index" class="btn btn-secondary">Zpět</a>
    </form>
</div>
