@page
@model PslibTechSaturdays.Areas.Admin.Pages.Actions.DetailsModel

@{
    ViewData["Title"] = "Podrobnosti";
}

<h1>Podrobnosti</h1>

<div class="row">
    <div class="col-12 col-md-6">
        <h2>Akce</h2>
        <hr />
        <dl class="row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Action.Name)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Action.Name)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Action.Description)
            </dt>
            <dd class="col-sm-8">
                @Html.Raw(Model.Action.Description)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Action.Year)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Action.Year)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Action.Active)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Action.Active)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Action.Published)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Action.Published)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Action.Created)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Action.Created)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Action.CreatedBy)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Action.CreatedBy!.FirstName) @Html.DisplayFor(model => model.Action.CreatedBy.LastName)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Action.Start)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Action.Start)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Action.End)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Action.End)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Action.ExclusiveEnrollment)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Action.ExclusiveEnrollment)
            </dd>
        </dl>
        <div>
            <a asp-page="./Edit" asp-route-id="@Model.Action?.ActionId">Editace</a> |
            <a asp-page="./Index">Zpět na seznam</a>
        </div>
    </div>
    <div class="col-12 col-md-6">
         <h2>Rychlé akce</h2>
         <div>
            @if(Model!.Action!.Active == true)
            {
                <a asp-page-handler="SetActive" asp-route-id="@Model.Action.ActionId" asp-route-value="false" class="btn btn-secondary">Deaktivovat</a>
            }
            else
            {
                <a asp-page-handler="SetActive" asp-route-id="@Model.Action.ActionId" asp-route-value="true" class="btn btn-secondary">Aktivovat</a>
            }
            @if (Model.Action.Published == true)
            {
                <a asp-page-handler="SetPublished" asp-route-id="@Model.Action.ActionId" asp-route-value="false" class="btn btn-secondary">Skrýt</a>
            }
            else
            {
                <a asp-page-handler="SetPublished" asp-route-id="@Model.Action.ActionId" asp-route-value="true" class="btn btn-secondary">Publikovat</a>
            }
        </div>
    </div>
</div>
