@page
@model PslibTechSaturdays.Areas.Admin.Pages.Actions.IndexModel

@{
    ViewData["Title"] = "Seznam akcí";
}

<h1>Seznam akcí</h1>

<p>
    <a asp-page="Create" class="btn btn-success">Nový</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Actions[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Actions[0].Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Actions[0].Active)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Actions[0].Published)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Actions[0].Created)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Actions) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Published)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                <div class="btn-group">
                    <a asp-page="./Details" asp-route-id="@item.ActionId" class="btn btn-primary btn-sm">Detail</a>
                    <a asp-page="./Edit" asp-route-id="@item.ActionId" class="btn btn-secondary btn-sm">Editace</a>
                    <a asp-page="./Delete" asp-route-id="@item.ActionId" class="btn btn-danger btn-sm">Smazání</a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
