@page
@model PslibTechSaturdays.Areas.Admin.Pages.Actions.IndexModel

@{
    ViewData["Title"] = "Seznam akcí";
}

<h1>Seznam akcí</h1>

<p>
    <a asp-page="Create" class="btn btn-success">Nová</a>
</p>
<form method="get">
    <input type="hidden" asp-for="Sort" />
    <div class="row g-3">
        <div class="col">
            <input type="text" class="form-control mb-2 mr-sm-2" asp-for="Name" placeholder="@Html.DisplayNameFor(model => model.Actions[0].Name)">
        </div>
        <div class="col">
            <input type="text" class="form-control mb-2 mr-sm-2" asp-for="Year" placeholder="@Html.DisplayNameFor(model => model.Actions[0].Year)">
        </div>
        <div class="col">
            <select class="form-control" asp-for="Active" placeholder="@Html.DisplayNameFor(model => model.Actions[0].Active)">
                <option value="">-- Aktivní --</option>
                <option value="true">Ano</option>
                <option value="false">Ne</option>
            </select>
        </div>
        <div class="col">
            <select class="form-control" asp-for="Published" placeholder="@Html.DisplayNameFor(model => model.Actions[0].Published)">
                <option value="">-- Zveřejněná --</option>
                <option value="true">Ano</option>
                <option value="false">Ne</option>
            </select>
        </div>
        <div class="col">
            <button type="submit" class="btn btn-primary mb-2">Filtrovat</button>
        </div>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sort="@(Model.Sort == ActionsOrder.Name ? ActionsOrder.NameDesc : ActionsOrder.Name)">
                    @Html.DisplayNameFor(model => model.Actions[0].Name)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sort="@(Model.Sort == ActionsOrder.Year ? ActionsOrder.YearDesc : ActionsOrder.Year)">
                    @Html.DisplayNameFor(model => model.Actions[0].Year)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Actions[0].GroupsCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Actions[0].Active)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Actions[0].Published)
            </th>
            <th>
                <a asp-page="./Index" asp-route-sort="@(Model.Sort == ActionsOrder.Created ? ActionsOrder.CreatedDesc : ActionsOrder.Created)">
                    @Html.DisplayNameFor(model => model.Actions[0].Created)
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @if (Model.Actions.Count() == 0) 
    {
        <tr>
            <td colspan="100" class="table-info">Zadaným kritériím neodpovídají žádné údaje.</td>
        </tr>
    } 
    else
    {
        @foreach (var item in Model.Actions)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GroupsCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Active)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Published)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Created)
                </td>
                <td>
                    <div class="btn-group">
                        <a asp-page="./Details" asp-route-id="@item.ActionId" class="btn btn-primary btn-sm">Detail</a>
                        <a asp-page="./Edit" asp-route-id="@item.ActionId" class="btn btn-secondary btn-sm">Editace</a>
                        <a asp-page="./Delete" asp-route-id="@item.ActionId" class="btn btn-danger btn-sm">Smazání</a>
                    </div>
                </td>
            </tr>
        }
        
    }
    </tbody>
    @{
        var prevDisabled = !Model.Actions.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.Actions.HasNextPage ? "disabled" : "";
    }
    <tfoot>
        <tr>
            <td colspan="1000">
                <a asp-page="./Index"
                   asp-route-sortOrder="@Model.Sort"
                   asp-route-pageIndex="@(Model.Actions.PageIndex - 1)"
                   asp-route-name="@(Model.Name)"
                   asp-route-year="@(Model.Year)"
                   asp-route-active="@(Model.Active)"
                   asp-route-published="@(Model.Published)"
                   asp-route-sort="@(Model.Sort)"
                   class="btn btn-primary @prevDisabled">
                    Předchozí
                </a>
                <a asp-page="./Index"
                   asp-route-sortOrder="@Model.Sort"
                   asp-route-pageIndex="@(Model.Actions.PageIndex - 1)"
                   asp-route-name="@(Model.Name)"
                   asp-route-year="@(Model.Year)"
                   asp-route-active="@(Model.Active)"
                   asp-route-published="@(Model.Published)"
                   asp-route-sort="@(Model.Sort)"
                   class="btn btn-primary @nextDisabled">
                    Další
                </a>
            </td>
        </tr>
    </tfoot>
</table>
