@page
@using PslibTechSaturdays.Models
@model RegisterModel
@{
    ViewData["Title"] = "Registrace";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Vytvoření nového účtu</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.FirstName" class="form-control" autocomplete="firstname" aria-required="true" placeholder="Alois" />
                <label asp-for="Input.FirstName">Jméno</label>
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.LastName" class="form-control" autocomplete="surname" aria-required="true" placeholder="Novák" />
                <label asp-for="Input.LastName">Příjmení</label>
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.BirthDate" class="form-control" autocomplete="birthdate" aria-required="false" type="date" />
                <label asp-for="Input.BirthDate">Datum narození</label>
                <span asp-validation-for="Input.BirthDate" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.SchoolName" class="form-control" />
                <label asp-for="Input.SchoolName">Název školy</label>
                <span asp-validation-for="Input.SchoolName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <select class="form-control"
                        asp-for="Input.Grade"
                        asp-items="@Html.GetEnumSelectList<SchoolGrade>()">
                </select>
                <label asp-for="Input.Grade">Ročník</label>
                <span asp-validation-for="Input.Grade" class="text-danger"></span>
            </div>
            <div class="mb-3 form-group form-check">
                <label class="form-check-label" asp-for="Input.MailList"><input asp-for="Input.MailList" class="form-check-input" /> Odběratel zpráv přes email</label>
                <span asp-validation-for="Input.MailList" class="text-danger"></span>
            </div>
            <div class="mb-3 form-group form-check">
                <label class="form-check-label" asp-for="Input.Aspirant"><input asp-for="Input.Aspirant" class="form-check-input" /> Zájemce o studium</label>
                <span asp-validation-for="Input.Aspirant" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password">Heslo</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.ConfirmPassword">Heslo pro kontrolu</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Registrovat</button>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Pomocí jiné služby.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            Žádná služba třetí strany není zkonfigurována.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
