@using System.Security.Claims
@using PslibTechSaturdays.Constants
@using PslibTechSaturdays.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject IConfiguration conf
@{ 
    ClaimsPrincipal cp = this.User; 
}
<!DOCTYPE html>
<html lang="cs" class="h-100">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Michal Stehlík">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | @conf["Application:Name"]</title>
    <link rel="icon" type="image/x-icon" href="~/logo/light-bulb.svg">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PslibTechSaturdays.styles.css" asp-append-version="true" />
    <meta name="robots" content="index, follow" />
    <meta name="description" content="@conf["Application:Description"]" />
    <meta name="keywords" content="@conf["Application:Keywords"]" />
    <meta name="google-site-verification" content="@conf["SEO:SearchConsoleVerificationCode"]" />
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5ST932V3DE"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-5ST932V3DE');
    </script>
</head>
<body class="d-flex flex-column h-100">
    <partial name="_CookieConsentPartial" />
    <header>
        <nav class="navbar navbar-expand-md navbar-toggleable-md navbar-light bg-white border-bottom box-shadow mb-3 fixed-top">
            <div class="container">
                <a class="navbar-brand d-inline-flex align-items-center gap-2" asp-area="" asp-page="/Index">
                    <img src="~/logo/light-bulb.svg" height="36" class="d-inline-block align-top" alt="Logo">
                    <span class="fw-bold">@conf["Application:Name"]</span>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-md-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="My" asp-page="/Enrollments">Přihlášky</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="My" asp-page="/Certificates">Osvědčení</a>
                            </li>
                        }
                        @if (cp.HasClaim(Security.ADMIN_CLAIM,"1"))
                        {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Administrace
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="nav-link text-dark p-2 p-md-2" asp-area="Admin" asp-page="/Users/Index">Uživatelé</a></li>
                                <li><a class="nav-link text-dark p-2 p-md-2" asp-area="Admin" asp-page="/Actions/Index">Akce</a></li>
                                <li><a class="nav-link text-dark p-2 p-md-2" asp-area="Admin" asp-page="/Groups/Index">Skupiny</a></li>
                                <li><a class="nav-link text-dark p-2 p-md-2" asp-area="Admin" asp-page="/Enrollments/Index">Přihlášky</a></li>
                                <li class="border-bottom"><a class="nav-link text-dark p-2 p-md-2" asp-area="Admin" asp-page="/Certificates/Index">Certifikáty</a></li>
                                <li><a class="nav-link text-dark p-2 p-md-2" asp-area="Admin" asp-page="/Tags/Index">Značky</a></li>
                            </ul>
                        </li>
                        }
                        @if (cp.HasClaim(Security.LECTOR_CLAIM, "1"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Lectoring" asp-page="/Groups/Index">Kurzy</a>
                            </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <main class="flex-shrink-0 pb-3">
        <div class="container">
            <partial name="_InfoBoxTempData" model="@Constants.Messages.COOKIE_ID" />
        </div>
        <div class="container">
            @RenderBody()
        </div>  
    </main>
    @{
        var FooterLinksSection = conf.GetSection("FooterLinks").Get<List<LinkPair>>();
    }
    <footer class="bg-light text-dark text-center py-3 mt-auto">
        <div class="container">
            <p>&copy; 2024 @conf["Application:Name"] - Střední průmyslová škola v Liberci</p>
            <div class="row">
                @foreach(var link in FooterLinksSection)
                {
                    <div class="col-12 col-md-3">
                        <a href="@link.Link">@link.Text</a>
                    </div>
                }
                <div class="col-12 col-md-3">
                    <a asp-page="/Privacy">Ochrana osobních údajů</a>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>