@using System.Security.Claims
@using PslibTechSaturdays.Constants
@using PslibTechSaturdays.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject IConfiguration conf
@{ ClaimsPrincipal cp = this.User; }
<!DOCTYPE html>
<html lang="cz">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Michal Stehlík">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @conf["Application:Name"]</title>
    <link rel="icon" type="image/x-icon" href="~/logo/pslib_small_extended.svg">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PslibTechSaturdays.styles.css" asp-append-version="true" />
    <meta name="description" content="Tradičně sobotní akce pro zájemce o studium na Střední průmyslové škole v Liberci v oborech strojírenství, elektrotechnika, informační technologie a textilnictví">
    <meta name="keywords" content="Střední průmyslová škola, Liberec, strojírenství, elektrotechnika, informační technologie, textilnictví, nabídka oborů na SPŠ Liberec, přihlášky na Střední průmyslovou školu, obory na SPŠ Liberec, studium na střední škole v Liberci, studium">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand d-inline-flex align-items-center gap-2" asp-area="" asp-page="/Index">
                    <img src="~/logo/pslib_shape.svg" height="24" class="d-inline-block align-top" alt="Logo">
                    <span class="fw-bold">@conf["Application:Name"]</span>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="My" asp-page="/Enrollments">Přihlášky</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="My" asp-page="/Certificates">Certifikáty</a>
                            </li>
                        }
                        @if (cp.HasClaim(Security.ADMIN_CLAIM,"1"))
                        {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Administrace
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="nav-link text-dark" asp-area="Admin" asp-page="/Users/Index">Uživatelé</a></li>
                                <li><a class="nav-link text-dark" asp-area="Admin" asp-page="/Actions/Index">Akce</a></li>
                                <li><a class="nav-link text-dark" asp-area="Admin" asp-page="/Groups/Index">Skupiny</a></li>
                                <li><a class="nav-link text-dark" asp-area="Admin" asp-page="/Enrollments/Index">Přihlášky</a></li>
                                <li><a class="nav-link text-dark" asp-area="Admin" asp-page="/Certificates/Index">Certifikáty</a></li>
                            </ul>
                        </li>
                        }
                        @if (cp.HasClaim(Security.LECTOR_CLAIM, "1"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Lectoring" asp-page="/Groups/Index">Kurzy</a>
                            </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @if (TempData["SuccessMessage"] != null)
            {
                <div class="alert alert-success">@TempData["SuccessMessage"]</div>
            }
            @if (TempData["FailureMessage"] != null)
            {
                <div class="alert alert-danger">@TempData["FailureMessage"]</div>
            }
            @RenderBody()
        </main>
    </div>

    <footer class="bg-light text-dark text-center py-3">
        <div class="container">
            <p>&copy; 2023 @conf["Application:Name"] - Střední průmyslová škola v Liberci</p>
            <div class="row">
                <div class="col">
                    <a href="https://www.pslib.cz/">SPŠ a VOŠ Liberec</a>
                </div>
                <div class="col">
                    <a href="https://pslib.cz/pro-uchazece/prijimaci-zkousky/id:26973/prijimaci-rizeni-pro-skolni-rok-2023-2024">Přijímací řízení</a>
                </div>
                <div class="col">
                    <a href="https://pslib.cz/kontakty">Kontakty</a>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>