@page
@model PslibTechSaturdays.Areas.Admin.Pages.Enrollments.DetailsModel

@{
    ViewData["Title"] = "Podrobnosti";
}

<h1>Podrobnosti</h1>

<div class="row">
    <div class="col-12 col-md-6">
        <h2>Přihláška</h2>
        <hr />
        <dl class="row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Enrollment.User)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Enrollment.User.LastName), @Html.DisplayFor(model => model.Enrollment.User.FirstName)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Enrollment.Group)
            </dt>
            <dd class="col-sm-8">
                <a asp-area="Admin" asp-page="./Groups/Details" asp-route-id="@Model.Enrollment.Group.GroupId">@Html.DisplayFor(model => model.Enrollment.Group.Name)</a>
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Enrollment.CreatedBy)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Enrollment.CreatedBy!.LastName), @Html.DisplayFor(model => model.Enrollment.CreatedBy!.FirstName)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Enrollment.Created)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Enrollment.Created)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Enrollment.CancelledBy)
            </dt>
            <dd class="col-sm-8">
                @if(Model.Enrollment.Cancelled != null)
                {
                    <span>@Html.DisplayFor(model => model.Enrollment.CancelledBy!.LastName), @Html.DisplayFor(model => model.Enrollment.CancelledBy!.FirstName)</span>
                }   
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Enrollment.Cancelled)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Enrollment.Cancelled)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Enrollment.Present)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Enrollment.Present)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Enrollment.Certificate)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Enrollment.Certificate!.CertificateId)
            </dd>
        </dl>
        <div>
            <a asp-page="./Index">Zpět na seznam</a>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <h4>Akce</h4>
        <hr />
        <div>
            @if(Model.Enrollment.Cancelled == null)
            {
                <a class="btn btn-warning" asp-page-handler="cancel" asp-route-id="@Model.Enrollment.EnrollmentId">Zrušit přihlášku</a>
            }          
        </div>
        <div>
            <h5>Prezence</h5>
            @foreach(var pr in Enum.GetValues(typeof(Presence)).Cast<Presence>())
            {
                <a class="btn btn-secondary" asp-page-handler="presence" asp-route-id="@Model.Enrollment.EnrollmentId" asp-route-state="@pr">@Html.DisplayFor(x => pr)</a>
            }
        </div>
    </div>
</div>
