@page
@using PslibTechSaturdays.Services;
@model PslibTechSaturdays.Areas.Admin.Pages.Enrollments.IndexModel

@{
    ViewData["Title"] = "Seznam přihlášek";
}

<h1>Seznam přihlášek</h1>

<p>
    <a asp-page="Create" class="btn btn-success">Nová</a>
</p>
<form method="get">
    <input type="hidden" asp-for="Sort" />
    <div class="row g-3">
        <div class="col">
            <input type="text" class="form-control mb-2 mr-sm-2" asp-for="UserName" placeholder="@Html.DisplayNameFor(model => model.Enrollments[0].User)">
        </div>
        <div class="col">
            <select class="form-control" asp-for="GroupId" placeholder="@Html.DisplayNameFor(model => model.Enrollments[0].Group)" asp-items="Model.Groups">
                <option value="">-- Skupina --</option>
            </select>
        </div>
        <div class="col">
            <select class="form-control" asp-for="ActionId" placeholder="@Html.DisplayNameFor(model => model.Enrollments[0].Action)" asp-items="Model.Actions">
                <option value="">-- Akce --</option>
            </select>
        </div>
        <div class="col">
            <button type="submit" class="btn btn-primary mb-2">Filtrovat</button>
        </div>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sort="@(Model.Sort == EnrollmentsOrder.UserName ? EnrollmentsOrder.UserNameDesc : EnrollmentsOrder.UserName)">
                    @Html.DisplayNameFor(model => model.Enrollments[0].User)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enrollments[0].Action)
            </th>
            <th>
                <a asp-page="./Index" asp-route-sort="@(Model.Sort == EnrollmentsOrder.GroupName ? EnrollmentsOrder.GroupNameDesc : EnrollmentsOrder.GroupName)">
                    @Html.DisplayNameFor(model => model.Enrollments[0].Group)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enrollments[0].CreatedBy)
            </th>
            <th>
                <a asp-page="./Index" asp-route-sort="@(Model.Sort == EnrollmentsOrder.Created ? EnrollmentsOrder.CreatedDesc : EnrollmentsOrder.Created)">
                    @Html.DisplayNameFor(model => model.Enrollments[0].Created)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enrollments[0].CancelledBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enrollments[0].Cancelled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enrollments[0].Present)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enrollments[0].Certificate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @if (Model.Enrollments.Count() == 0) 
    {
        <tr>
            <td colspan="100" class="table-info">Zadaným kritériím neodpovídají žádné údaje.</td>
        </tr>
    }
    else
    {
        @foreach (var item in Model.Enrollments)
        {
            <tr>
                <td>
                    <a asp-page="../Users/Details" asp-route-id="@item.User!.Id">@Html.DisplayFor(modelItem => item.User.LastName), @Html.DisplayFor(modelItem => item.User.FirstName)</a>
                    
                </td>
                <td>
                    <a asp-page="../Actions/Details" asp-route-id="@item.Action!.ActionId">@Html.DisplayFor(modelItem => item.Action!.Name)</a>
                </td>
                <td>
                    <a asp-page="../Groups/Details" asp-route-id="@item.Group!.GroupId">@Html.DisplayFor(modelItem => item.Group!.Name)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedBy!.LastName), @Html.DisplayFor(modelItem => item.CreatedBy!.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Created)
                </td>
                <td>
                    @if (item.CancelledBy != null)
                    {
                        <span>@Html.DisplayFor(modelItem => item.CancelledBy!.LastName), @Html.DisplayFor(modelItem => item.CancelledBy!.FirstName)</span>
                    }
                    else
                    {
                        <span>--</span>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cancelled)
                </td>
                <td>
                    <span class="@(item.Present == Presence.Present ? "text-success" : item.Present == Presence.Absent ? "text-danger" : "text-secondary")">@Html.DisplayFor(modelItem => item.Present)</span>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Certificate!.CertificateId)
                </td>
                <td>
                    <div class="btn-group">
                        <a asp-page="./Details" asp-route-id="@item.EnrollmentId" class="btn btn-primary btn-sm">Detail</a>
                        <a asp-page="./Delete" asp-route-id="@item.EnrollmentId" class="btn btn-danger btn-sm">Smazání</a>
                    </div>
                </td>
            </tr>
        }
    }
    </tbody>
    @{
        var prevDisabled = !Model.Enrollments.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.Enrollments.HasNextPage ? "disabled" : "";
    }
    <tfoot>
        <tr>
            <td colspan="1000">
                <a asp-page="./Index"
                   asp-route-pageIndex="@(Model.Enrollments.PageIndex - 1)"
                   asp-route-name="@(Model.UserName)"
                   asp-route-ActionId="@(Model.ActionId)"
                   asp-route-email="@(Model.GroupId)"
                   asp-route-admin="@(Model.UserId)"
                   asp-route-sort="@(Model.Sort)"
                   class="btn btn-primary @prevDisabled">
                    Předchozí
                </a>
                <a asp-page="./Index"
                   asp-route-pageIndex="@(Model.Enrollments.PageIndex + 1)"
                   asp-route-name="@(Model.UserName)"
                   asp-route-ActionId="@(Model.ActionId)"
                   asp-route-email="@(Model.GroupId)"
                   asp-route-admin="@(Model.UserId)"
                   asp-route-sort="@(Model.Sort)"
                   class="btn btn-primary @nextDisabled">
                    Další
                </a>
            </td>
        </tr>
    </tfoot>
</table>
