@page "{id}"
@model PslibTechSaturdays.Pages.GroupModel
@{
}
<div class="mb-2">
    <a asp-page="Action" asp-route-id="@Model.Group.ActionId" class="btn btn-secondary">Zpět</a>
</div>
<div class="card">
    <div class="card-body">
        <h1 class="card-title">@Model.Group.Name</h1>
        <div>
            @foreach (var t in Model.Group.Tags!)
            {
                <span class="badge" style="background-color: @t.BackgroundColor; color: @t.ForegroundColor">@t.Text</span>
            }
        </div>
        <div class="card-text">
            @Html.Raw(Model.Group.Description)
        </div>
        @{
            int valid = Model.Group.Enrollments!.Count(e => e.Cancelled == null);
            int capacity = Math.Max(Model.Group.Capacity, valid);
        }
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Kapacita: <strong>@capacity</strong></li>
        @if(Model.Group.EnrollmentsCountVisible == true) 
        {
            <li class="list-group-item">Počet přihlášených: <strong>@valid</strong></li>
        }
        <li class="list-group-item">Začátek: <strong>@Model.Group.Action!.Start</strong></li>
        <li class="list-group-item">Konec: <strong>@Model.Group.Action!.End</strong></li>
    </ul>
    <div class="card-body">
        <h2>Lektoři</h2>
    </div>
    @if(Model.Group.Lectors!.Count() == 0)
    {
        <div class="card-body">
        <p class="card-text">Skupina nemá přiřazené žádné lektory.</p>
        </div>
    }
    else
    {
        <ul class="list-group list-group-flush">
        @foreach(var l in Model.Group.Lectors!)
        {
            <li class="list-group-item">@l.LastName, @l.FirstName</li>
        }
        </ul>
    }
    <div class="card-body">
        @if (!String.IsNullOrEmpty(Model.Group.Note))
        {
            <h2>Poznámka</h2>
            <div class="card-text">
                @Html.Raw(Model.Group.Note)
            </div>
        }
    </div>
</div>