@page
@using static PslibTechSaturdays.Helpers.TempDataExtension;
@model IndexModel
@{
    ViewData["Title"] = "Úvodní stránka";
    string key = "techSaturdays";
}
<partial name="_InfoBoxTempData" model="key" />

<div class="row flex-lg-row-reverse align-items-center g-5">
    <div class="col-12 col-lg-6 d-flex justify-content-md-center align-items-md-center">
        <img src="~/image/abstract1.jpg" class="d-block m-auto mx-lg-auto img-fluid" alt="Soboty s technikou" width="500" height="500" loading="lazy">
    </div>
    <div class="col-12 col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">@Model.AppTitle</h1>
        <p class="lead">Soboty s technikou jsou série akcí pořádaných <a href="https://www.pslib.cz">Střední průmyslovou školou a Vyšší odbornou školou v Liberci</a> pro zájemce o strojírenství, elektrotechniku, informační a komunikační technologie, textilní technologie nebo matematiku s fyzikou.</p>
        <p>Jsou zaměřené zejména na potenciální studenty průmyslovky z 8. a 9. tříd ZŠ. Pro žáky z nižších ročníků organizujeme kurzy v rámci <a href="https://stansevedcem.tul.cz/nabidka-aktivit-pro-mladez/detska-univerzita">Dětské univerzity</a>.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <a class="btn btn-primary btn-lg px-4 me-md-2" asp-area="Identity" asp-page="/Account/Register">Registrace</a>
        </div>
    </div>
</div>
<section class="mt-4">
    <h1>Dostupné akce</h1>
    @if (Model.PublishedActions.Count() > 0)
    {
        <div class="row row-cols-1 row-cols-lg-2 g-4">
        @foreach (var action in Model.PublishedActions)
        {
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">@action.Name</h2>
                        @Html.Raw(action.Description)
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Trvání: <strong>@action.Start - @action.End</strong></li>
                    </ul>
                    <footer class="card-footer">
                        <a asp-page="Action" asp-route-id="@action.ActionId" class="btn btn-secondary">Skupiny (@action.Groups.Count())</a>
                    </footer>
                </div>
            </div>
        }
        </div>
    }
    else
    {
        <div class="alert alert-info">Nyní zde žádné akce nejsou. Zkuste to později.</div>
    }
</section>
