@page
@model PslibTechSaturdays.Areas.Admin.Pages.Tags.IndexModel

@{
    ViewData["Title"] = "Seznam značek";
}

<h1>Seznam značek</h1>

<p>
    <a asp-page="Create" class="btn btn-success">Nová</a>
</p>
<div class="table-responsive">
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tag[0].Text)
            </th>
            <th>
                Ukázka
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tag[0].BackgroundColor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tag[0].ForegroundColor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Tag) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                <span class="badge" style="background-color: @item.BackgroundColor; color: @item.ForegroundColor">@item.Text</span>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BackgroundColor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ForegroundColor)
            </td>
            <td>
                <div class="btn-group">
                    <a asp-page="./Details" asp-route-id="@item.TagId" class="btn btn-primary btn-sm">Detail</a>
                    <a asp-page="./Edit" asp-route-id="@item.TagId" class="btn btn-secondary btn-sm">Editace</a>
                    <a asp-page="./Delete" asp-route-id="@item.TagId" class="btn btn-danger btn-sm">Smazání</a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
</div>