@page
@model PslibTechSaturdays.Areas.Admin.Pages.Groups.DeleteModel

@{
    ViewData["Title"] = "Odstranění skupiny";
}

<h1>Smazání</h1>

<p>Opravdu chcete skupinu odstranit?</p>
<div>
    <h2>Skupina</h2>
    <hr />
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Group.Name)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Group.Name)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Group.Description)
        </dt>
        <dd class="col-sm-8">
            @Html.Raw(Model.Group.Description)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Group.Action)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Group.Action!.Name)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Group.Capacity)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Group.Capacity)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Group.MinGrade)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Group.MinGrade)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Group.Note)
        </dt>
        <dd class="col-sm-8">
            @Html.Raw(Model.Group.Note)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Group.LectorsNote)
        </dt>
        <dd class="col-sm-8">
            @Html.Raw(Model.Group.LectorsNote)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Group.EnrollmentsCountVisible)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Group.EnrollmentsCountVisible)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Group.PlannedOpening)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Group.PlannedOpening)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Group.OpenedAt)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Group.OpenedAt)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Group.ClosedAt)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Group.ClosedAt)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Group.CreatedBy)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Group.CreatedBy!.FirstName) @Html.DisplayFor(model => model.Group.CreatedBy!.LastName)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Group.Created)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Group.Created)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Group.GroupId" />
        <input type="submit" value="Odstranit" class="btn btn-danger" /> <a asp-page="./Index" class="btn btn-secondary">Zpět</a>
    </form>
</div>
