@page
@model PslibTechSaturdays.Areas.Admin.Pages.Groups.IndexModel

@{
    ViewData["Title"] = "Seznam skupin";
}

<h1>Seznam skupin</h1>

<p>
    <a asp-page="Create" class="btn btn-success">Nová</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Group[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Group[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Group[0].Action)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Group[0].Capacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Group[0].MinGrade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Group[0].Note)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Group[0].LectorsNote)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Group[0].ApplicationCountVisible)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Group[0].PlannedOpening)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Group[0].OpenedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Group[0].ClosedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Group[0].CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Group[0].Created)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Group) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Action.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinGrade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LectorsNote)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationCountVisible)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlannedOpening)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpenedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClosedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                <div class="btn-group">
                    <a asp-page="./Details" asp-route-id="@item.ActionId" class="btn btn-primary btn-sm">Detail</a>
                    <a asp-page="./Edit" asp-route-id="@item.ActionId" class="btn btn-secondary btn-sm">Editace</a>
                    <a asp-page="./Delete" asp-route-id="@item.ActionId" class="btn btn-danger btn-sm">Smazání</a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
