@page
@model DetailsModel

@{
    ViewData["Title"] = "Podrobnosti uživatele";
}

<h1>Podrobnosti</h1>

<div class="row">
    <div class="col-12 col-md-6">
        <h2>Uživatel</h2>
        <hr />
        <dl class="row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.ApplicationUser.FirstName)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.ApplicationUser.FirstName)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.ApplicationUser.LastName)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.ApplicationUser.LastName)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.ApplicationUser.BirthDate)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.ApplicationUser.BirthDate)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.ApplicationUser.SchoolName)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.ApplicationUser.SchoolName)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.ApplicationUser.Grade)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.ApplicationUser.Grade)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.ApplicationUser.Created)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.ApplicationUser.Created)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.ApplicationUser.Updated)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.ApplicationUser.Updated)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.ApplicationUser.Active)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.ApplicationUser.Active)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.ApplicationUser.MailList)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.ApplicationUser.MailList)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.ApplicationUser.Aspirant)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.ApplicationUser.Aspirant)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.ApplicationUser.UserName)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.ApplicationUser.UserName)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.ApplicationUser.NormalizedUserName)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.ApplicationUser.NormalizedUserName)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.ApplicationUser.Email)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.ApplicationUser.Email)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.ApplicationUser.NormalizedEmail)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.ApplicationUser.NormalizedEmail)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.ApplicationUser.EmailConfirmed)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.ApplicationUser.EmailConfirmed)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.ApplicationUser.PhoneNumber)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.ApplicationUser.PhoneNumber)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.ApplicationUser.PhoneNumberConfirmed)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.ApplicationUser.PhoneNumberConfirmed)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.ApplicationUser.TwoFactorEnabled)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.ApplicationUser.TwoFactorEnabled)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.ApplicationUser.LockoutEnd)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.ApplicationUser.LockoutEnd)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.ApplicationUser.LockoutEnabled)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.ApplicationUser.LockoutEnabled)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.ApplicationUser.AccessFailedCount)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.ApplicationUser.AccessFailedCount)
            </dd>
        </dl>
        <div>
            <a asp-page="./Edit" asp-route-id="@Model.ApplicationUser?.Id">Editace</a> |
            <a asp-page="./Password" asp-route-id="@Model.ApplicationUser?.Id">Heslo</a> |
            <a asp-page="./Index">Zpět</a>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <h4>Role</h4>
        <ul class="list-group">
        @foreach(var role in Model.AllRoles)
        {
            <li class="list-group-item">@role.Name
            @if (Model.Roles.Contains(role.Name))
            {
                        <a class="btn btn-danger btn-sm" asp-page-handler="RemoveRole" asp-route-id="@Model.ApplicationUser?.Id" asp-route-name="@role.Name">Odebrat</a>
            }
            else
            {
                        <a class="btn btn-success btn-sm" asp-page-handler="AddRole" asp-route-id="@Model.ApplicationUser?.Id" asp-route-name="@role.Name">Přídat</a>
            }
            </li>
            }
        </ul>
    </div>
</div>
