@page
@model IndexModel

@{
    ViewData["Title"] = "Uživatelé";
}

<h1>Seznam uživatelů</h1>

<p>
    <a asp-page="Create" class="btn btn-success">Nový</a>
</p>
<form method="get">
    <input type="hidden" asp-for="Sort" />
    <div class="row g-3">
        <div class="col">
            <input type="text" class="form-control mb-2 mr-sm-2" asp-for="FirstName" placeholder="@Html.DisplayNameFor(model => model.Users[0].FirstName)">
        </div>   
        <div class="col">
            <input type="text" class="form-control mb-2 mr-sm-2" asp-for="LastName" placeholder="@Html.DisplayNameFor(model => model.Users[0].LastName)">
        </div>
        <div class="col">
            <input type="text" class="form-control mb-2 mr-sm-2" asp-for="Email" placeholder="@Html.DisplayNameFor(model => model.Users[0].Email)">
        </div>
        <div class="col">
            <select class="form-control" asp-for="Admin" placeholder="@Html.DisplayNameFor(model => model.Users[0].Admin)">
                <option value="">-- @Html.DisplayNameFor(model => model.Users[0].Admin) --</option>
                <option value="true">Ano</option>
                <option value="false">Ne</option>
            </select>
        </div>
        <div class="col">
            <select class="form-control" asp-for="Lector" placeholder="@Html.DisplayNameFor(model => model.Users[0].Lector)">
                <option value="">-- @Html.DisplayNameFor(model => model.Users[0].Lector) --</option>
                <option value="true">Ano</option>
                <option value="false">Ne</option>
            </select>
        </div>
        <div class="col">
            <select class="form-control" asp-for="Active" placeholder="@Html.DisplayNameFor(model => model.Users[0].Active)">
                <option value="">-- @Html.DisplayNameFor(model => model.Users[0].Active) --</option>
                <option value="true">Ano</option>
                <option value="false">Ne</option>
            </select>
        </div>
        <div class="col">
            <button type="submit" class="btn btn-primary mb-2">Filtrovat</button>
        </div>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sort="@(Model.Sort == UsersOrder.FirstName ? UsersOrder.FirstNameDesc : UsersOrder.FirstName)">
                    @Html.DisplayNameFor(model => model.Users[0].FirstName)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sort="@(Model.Sort == UsersOrder.LastName ? UsersOrder.LastNameDesc : UsersOrder.LastName)">
                    @Html.DisplayNameFor(model => model.Users[0].LastName)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].SchoolName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].Grade)
            </th>
            <th>
                <a asp-page="./Index" asp-route-sort="@(Model.Sort == UsersOrder.Created ? UsersOrder.CreatedDesc : UsersOrder.Created)">
                    @Html.DisplayNameFor(model => model.Users[0].Created)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sort="@(Model.Sort == UsersOrder.Email ? UsersOrder.EmailDesc : UsersOrder.Email)">
                    @Html.DisplayNameFor(model => model.Users[0].Email)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sort="@(Model.Sort == UsersOrder.Enrollments ? UsersOrder.EnrollmentsDesc : UsersOrder.Enrollments)">
                    @Html.DisplayNameFor(model => model.Users[0].EnrollmentsCount)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].CertificatesCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].Active)
            </th>
            <th>Administrátor</th>
            <th>Lektor</th>
            <th>Akce</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Users.Count() == 0) 
        {
            <tr>
                <td colspan="100" class="table-info">Zadaným kritériím neodpovídají žádné údaje.</td>
            </tr>
        } 
        else
        {
            @foreach (var item in Model.Users)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SchoolName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Grade)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Created)
                    </td>
                    <td>
                        @if(item.EmailConfirmed)
                        {
                            <a asp-page="Mail" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Email)</a>
                        }
                        else
                        {
                            @item.Email
                        }
                    </td>
                    <td>
                        <a asp-page="../Enrollments/Index" asp-route-UserId="@item.Id">@Html.DisplayFor(modelItem => item.EnrollmentsCount)</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CertificatesCount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Active)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Admin)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Lector)
                    </td>
                    <td>
                        <div class="btn-group">
                            <a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-primary btn-sm">Detail</a>
                            <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-secondary btn-sm">Editace</a>
                            <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Smazání</a>
                        </div>
                    </td>
                </tr>
            }
        }       
    </tbody>
    @{
        var prevDisabled = !Model.Users.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.Users.HasNextPage ? "disabled" : "";
    }
    <tfoot>
        <tr>
            <td colspan="1000">
                <a asp-page="./Index"
                   asp-route-sortOrder="@Model.Sort"
                   asp-route-pageIndex="@(Model.Users.PageIndex - 1)"
                   asp-route-firstName="@(Model.FirstName)"
                   asp-route-lastName="@(Model.LastName)"
                   asp-route-email="@(Model.Email)"
                   asp-route-admin="@(Model.Admin)"
                   asp-route-lector="@(Model.Lector)"
                   asp-route-sort="@(Model.Sort)"
                   class="btn btn-primary @prevDisabled">
                    Předchozí
                </a>
                <a asp-page="./Index"
                   asp-route-sortOrder="@Model.Sort"
                   asp-route-pageIndex="@(Model.Users.PageIndex + 1)"
                   asp-route-firstName="@(Model.FirstName)"
                   asp-route-lastName="@(Model.LastName)"
                   asp-route-email="@(Model.Email)"
                   asp-route-admin="@(Model.Admin)"
                   asp-route-lector="@(Model.Lector)"
                   asp-route-sort="@(Model.Sort)"
                   class="btn btn-primary @nextDisabled">
                    Další
                </a>
            </td>
        </tr>
    </tfoot>
</table>
