@page
@model PslibTechSaturdays.Areas.Users.Pages.IndexModel

@{
    ViewData["Title"] = "Seznam uživatelů";
}

<h1>Seznam</h1>

<p>
    <a asp-page="Create">Nový</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].SchoolName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].Grade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].EnrollmentsCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].CertificatesCount)
            </th>
            <th>Administrátor</th>
            <th>Lektor</th>
            <th>Akce</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Users) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SchoolName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentsCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CertificatesCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Admin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lector)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
