﻿@using PslibTechSaturdays.Prints.PageModels

@model SimpleCertificateVM

<p>@Model.Title</p>
<p>@Model.Text</p>
<p>@Model.Description</p>
<p>@Model.User.LastName, @Model.User.FirstName</p>
<p>@Model.CertificateId</p>