@page
@model PslibTechSaturdays.Areas.Admin.Pages.Certificates.DeleteModel

@{
    ViewData["Title"] = "Odstranění";
}

<h1>Odstranění</h1>

<p>Opravdu chcete tento certifikát odstranit?</p>
<div>
    <h2>Certifikát</h2>
    <hr />
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Certificate.Title)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Certificate.Title)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Certificate.Text)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Certificate.Text)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Certificate.Description)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Certificate.Description)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Certificate.User)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Certificate.User!.LastName), @Html.DisplayFor(model => model.Certificate.User!.FirstName)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Certificate.Issued)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Certificate.Issued)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Certificate.CreatedBy)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Certificate.CreatedBy!.LastName), @Html.DisplayFor(model => model.Certificate.CreatedBy!.FirstName)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Certificate.CertificateId" />
        <input type="submit" value="Odstranit" class="btn btn-danger" /> <a asp-page="./Index" class="btn btn-secondary">Zpět</a>
    </form>
</div>
