@page
@model PslibTechSaturdays.Areas.Admin.Pages.Certificates.DetailsModel

@{
    ViewData["Title"] = "Podrobnosti o osvědčení";
}

<h1>Podrobnosti</h1>

<div class="row">
    <div class="col-14 col-md-6">
    <h2>Osvědčení</h2>
    <hr />
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Certificate.Title)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Certificate.Title)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Certificate.Text)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Certificate.Text)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Certificate.Description)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Certificate.Description)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Certificate.User)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Certificate.User!.LastName), @Html.DisplayFor(model => model.Certificate.User!.FirstName)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Certificate.Issued)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Certificate.Issued)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Certificate.CreatedBy)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Certificate.CreatedBy!.LastName), @Html.DisplayFor(model => model.Certificate.CreatedBy!.FirstName)
        </dd>      
        @if (Model.Certificate.Enrollment != null)
        {
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Certificate.Enrollment)
            </dt>
            <dd class="col-sm-8">
                <a asp-area="Admin" asp-page="/Enrollments/Details" asp-route-id="@Model.Certificate.Enrollment!.EnrollmentId"> @Html.DisplayFor(model => model.Certificate.Enrollment!.EnrollmentId) </a>
            </dd>
        }
        
    </dl>
        <div>
            <a asp-page="./Edit" asp-route-id="@Model.Certificate?.CertificateId">Editace</a> |
            <a asp-page="./Index">Zpět na seznam</a> |
            <a asp-page-handler="DownloadHtml" asp-route-id="@Model.Certificate!.CertificateId">Stáhnout</a>
        </div>
    </div>
</div>
