@page
@model PslibTechSaturdays.Areas.Admin.Pages.Certificates.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Certificate[0].User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Certificate[0].Issued)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Certificate[0].CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Certificate[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Certificate[0].Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Certificate) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Issued)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.CertificateId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.CertificateId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.CertificateId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
