@page
@model PslibTechSaturdays.Areas.Admin.Pages.Certificates.IndexModel

@{
    ViewData["Title"] = "Seznam osvědčení";
}

<h1>Seznam osvědčení</h1>

<p>
    <a asp-page="Create" class="btn btn-success">Nový</a>
</p>
<form method="get">
    <input type="hidden" asp-for="Sort" />
    <div class="row g-3">
        <div class="col">
            <input type="text" class="form-control mb-2 mr-sm-2" asp-for="Name" placeholder="@Html.DisplayNameFor(model => model.Certificates[0].User)">
        </div>
        <div class="col">
            <button type="submit" class="btn btn-primary mb-2">Filtrovat</button>
        </div>
    </div>
</form>
<div class="table-responsive">
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sort="@(Model.Sort == CertificatesOrder.Name ? CertificatesOrder.NameDesc : CertificatesOrder.Name)">
                    @Html.DisplayNameFor(model => model.Certificates[0].User)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sort="@(Model.Sort == CertificatesOrder.Date ? CertificatesOrder.DateDesc : CertificatesOrder.Date)">
                    @Html.DisplayNameFor(model => model.Certificates[0].Issued)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Certificates[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Certificates[0].Text)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @if (Model.Certificates.Count() == 0) 
    {
        <tr>
            <td colspan="100" class="table-info">Zadaným kritériím neodpovídají žádné údaje.</td>
            </tr>
        } 
        else
        {
            @foreach (var item in Model.Certificates)
            {
                <tr>
                    <td>
                @Html.DisplayFor(modelItem => item.User!.LastName), @Html.DisplayFor(modelItem => item.User!.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Issued)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                <div class="btn-group">
                    <a asp-page="./Details" asp-route-id="@item.CertificateId" class="btn btn-primary btn-sm">Detail</a>
                    <a asp-page="./Edit" asp-route-id="@item.CertificateId" class="btn btn-secondary btn-sm">Editace</a>
                    <a asp-page="./Delete" asp-route-id="@item.CertificateId" class="btn btn-danger btn-sm">Smazání</a>
                </div>
            </td>
        </tr>
        }
    }
    </tbody>
</table>
</div>
