@page
@model PslibTechSaturdays.Areas.My.Pages.CertificatesModel

@{
    ViewData["Title"] = "Moje osvědčení";
}

<h1>Moje osvědčení</h1>
<div class="table-responsive">
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Certificates[0].Issued)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Certificates[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Certificates[0].Text)
            </th>
            <th>Akce</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Certificates.Count() > 0)
        {
            @foreach (var item in Model.Certificates)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Issued)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Text)
                    </td>
                    <td>
                        <a asp-page-handler="DownloadHtml" asp-route-id="@item.CertificateId">Stáhnout</a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="100" class="table-info">Zatím žádné certifikáty nemáte.</td>
            </tr>
        }
    </tbody>
</table>
</div>
